.player__item {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px;
  border: 2px solid #cfe8fc;
  margin: 0 auto 32px;
  border-radius: 16px;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: #cfe8fc;
  }
}

.player-img {
  img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    width: 128px;
    height: 128px;
  }
}

.player__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-wrap {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}